body{
    background-color:  none;
   }
  .div1{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .div3{
    background-color:  none;
  }
  .div2{
  background-color: #fff;

    color: black;
    margin: 4%;
    height: 250px;
    padding: 20px;
    position: relative;
  }
  input[type="text"]
  {
    font-size:18px;
    margin:10%;
  }
  .pagination a{
    font-size: 18px;
    font-style: italic;
  }
  #head{
    text-align: center;
    font-size: 18px;
    font-style: Orbitron italic;
    text-decoration: underline;
    color: #44C1A9;

  }
  .polaroid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.52), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-height: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    font-size: 15px;
    //border-bottom: 1px solid #ddd;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: yellow;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mod_t {
    border-collapse: collapse;
    width: 60%;
    position: relative;
    left:22%;
}

.mod_r, .mod_d {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.mod:hover{background-color:#f5f5f5}
